* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Croissant One', cursive;
}

body {
    background-color:#081b29;
    color: #ededed;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    display: flex;
    top:0;
    left:0;
    width:100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: yellowgreen;
}
nav{
    position:fixed;
}
nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: gainsboro;
    font-size: 1.14rem;
}

.left {
    font-size: 2rem;
}

#first {
    display: flex;
    justify-content: space-around;
    margin: 150px 0;
}

#first>div {
    width: 38%;
}
.leftsection {
    margin-top: 90px;
    font-size: 3.8rem;
    width: max-content;
}

.rightsection{
    width:auto;
    align-items: center;
}
.rightsection img {
    width: 95%;
    margin: 50px 0px;
}

.color {
    color: rgb(140, 88, 189);
}

#element{
    color:rgb(90, 199, 90);
}

.rightsection img{
    border-radius: 75%;
}

#second{
    max-width:80vw;
    margin-top:10px;
    margin: auto;
    height:40vh;
    text-align: center;
}

main hr{
    border:0;
    background: lightslategray;
    height:1.0px;
    margin: 30px 90px;
}

#third{
    max-width:80vw;
    margin-top:10px;
    margin: auto;
    text-align: center;
}

table {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.education-entry{
    text-align: left;
}

#four{
    margin-top: 10px;
    width:10%;
}

li{
    font-size: 20px;
}

#contact {
    padding: 40px;
    text-align: center;
}

#Contact h2 {
    font-size: 24px;
    color: #3498db;
}

.input-box {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

.input-field {
    margin: 10px;
}

.input-field input, .input-field textarea {
    margin-top:10px;
    width:45%;
    padding: 10px;
    border: 5px solid #00abf0;
    border-radius: 5px;
}
.input-field.name{
    margin-top: 30px;
}



.input-field input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    margin-top: 20px;
}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}

footer {
    background-color:none;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.media {
    display: flex;
    justify-content: center;
}

.media a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.media a:hover {
    text-decoration: underline;
}
